<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About Me</h3>
    <p>
      I’m a computational scientist in the Lagrangian Codes group of the XCP Division at Los Alamos National Laboratory (LANL). 
      After obtaining a PhD in Physics in 2017 from the University of Nevada Las Vegas (UNLV), where I was supervised by Daniel Proga, I joined LANL as a postdoc in the Theortical Division, where I worked with Hui Li, Jarrett Johnson, and Joe Smidt.
      Before returning to LANL in 2022, I spent the entirety of the pandemic back at UNLV, again working in Daniel Proga's group but this time as an aging postdoc.
      <br><br>
      On the astrophysics side, I specialize in modeling the UV and X-ray dominated environments of active galactic nuclei (actively accreting supermassive black holes in distant galaxies) 
      and low-mass X-ray binaries (the stellar mass black holes observed in our own galaxy). 
      I’m especially interested in developing computational models that are realistic enough to be used to produce synthetic spectra, 
      so that a direct comparison with observational data can be made. As of now, I am mainly focused on trying to explain
      phenomena associated with the field of X-ray astronomy, but I'm also very interested in AGN reverberation mapping, 
      a field that is mainly based on optical and UV observations.    
    </p>
    <h3 class="mb2">For Students</h3>
    <p>
      <!-- <br><br> -->
      I plan to regularly hire undergraduate or post-bachelor students to work with me on research topics in computational astrophysics.
      In addition to undertaking a research project that can lead to a publication, physics or astrophysics majors can expect to learn high performance computing and scientific programming.
      Much of my work involves solving the equations of magnetohydrodynamics (MHD) or radiation hydrodynamcis (RHD) numerically.  
      For this, I mainly use the radiation-MHD code <a href='https://princetonuniversity.github.io/athena/'>Athena++</a>.
      On my <a href="{{ site.nav.main.projects }}">projects</a> page, I list links to any research projects for which I've created accompanying webpages.
      Most of these projects are ongoing.  The best way to work with me is to apply to the <a href='https://science.osti.gov/wdts/suli'>SULI program</a> and then send me an email.
      <!-- &mdash-->  
   
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Connect</h3>
    {% include contact.html %}
  </div>
</div>
