<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About Me</h3>
    <p>
      Robert Spurlin loves programming, problem solving, and sleeping in on Saturdays. He is currently a
      full-stack web developer at <a href='https://www.quavermusic.com/info'>Quaver Music</a>, a company that provides
      SaaS educational resources to pre-secondary Music and SEL teachers. <br><br>
      Robert was also a web developer at
      James E. Walker Library of Middle Tennessee State University (MTSU) and Titan Web Marketing Solutions.
      <br><br>
      He earned his Bachelors of Business Administration in Marketing from MTSU in 2018. 
      <br><br>
      Check out his <a
        href="{{ site.nav.main.projects }}">Projects</a> and his <a href="{{ site.nav.main.blog }}">Blog</a>.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>