{% assign base_favicon_url = "/assets/img/icons/favicon" %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_favicon_url }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ base_favicon_url }}/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512"  href="{{ base_favicon_url }}/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_favicon_url }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_favicon_url }}/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">